PORT=3333
NODE_ENV=development
ORIGIN=http://localhost:3000

POSTGRES_PASSWORD= root
POSTGRES_USER= root
POSTGRES_DB=operix
POSTGRES_PORT=5432
DATABASE_URL=postgresql://root:root@localhost:5432/operix

KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=admin
KC_PORT=8080
KEYCLOAK_JWKS_URI=http://localhost:8080/realms/master/protocol/openid-connect/certs
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
